/* 
Angabe von body ist notwendig, 
um Spezifizität zu erhöhen.
Eigene Stylesheets werden vor den internen
Stylesheets geladen.
*/
body :not(pre):not(.hljs) > code {
    color: rgb(255, 115, 0);
    font-weight: 300;
    font-family: "Consolas", monospace;
    background-color: rgb(255, 247, 213);
    padding: 0.1rem 0.25rem;
    border-radius: 4px;
}

/* CSS for markdown-style.css */
div.highlight pre[class*="language-javascript"] {
    border-radius: 5px;
    background-color: rgba(254, 240, 120, 0.3);
    border: 1px solid rgba(120, 120, 120, 0.5);
    line-height: 1.5;
    padding: 10px;
    margin-bottom: 10px;
}
/* CSS for markdown-style.css */
div.highlight pre[class*="language-python"] {
    border-radius: 5px;
    background-color: rgba(120, 204, 240, 0.3); /*NOTE Light blue color for Python syntax highlighting */
    border: 1px solid rgba(120, 120, 120, 0.5);
    line-height: 1.5;
    padding: 10px;
    margin-bottom: 10px;
}
/* CSS for markdown-style.css */
div.highlight pre[class*="language-csharp"] {
    border-radius: 5px;
    background-color: rgba(240, 168, 120, 0.3); /*NOTE Light orange color for C# syntax highlighting */
    border: 1px solid rgba(120, 120, 120, 0.5);
    line-height: 1.5;
    padding: 10px;
    margin-bottom: 10px;
}
/* CSS for markdown-style.css */
div.highlight pre[class*="language-java"] {
    border-radius: 5px;
    background-color: rgba(150, 120, 240, 0.3); /*NOTE Light purple color for Java syntax highlighting */
    border: 1px solid rgba(120, 120, 120, 0.5);
    line-height: 1.5;
    padding: 10px;
    margin-bottom: 10px;
}
